body {
  font-family: sans-serif;
}
h1 {
  text-align: center;
}
.user-search-container {
  display: flex;
}
.user-search-input {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 5px;
  flex-wrap: wrap;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 20px;
}
.user-search-input input {
  border: none;
  height: 20px;
  padding: 5px;
}
.user-search-input input:focus {
  outline: none;
}
.suggetstion-list {
  position: absolute;
  list-style: none;
  max-height: 300px;
  border: 1px solid grey;
  background-color: white;
  margin: 0px;
  overflow-y: scroll;
  padding: 0px;
  top: 117px;
  left: 30px;
}
.suggetstion-list li {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px 10px;
  cursor: pointer;
  border: 1px solid #ccc;
}
.suggetstion-list li:last-child {
  border-bottom: none;
}

.suggetstion-list li:hover {
  background-color: #ccc;
}

.suggetstion-list li img {
  height: 20px;
}
